{% extends 'base.html' %}

{% load static %}

{% load resume_tags %}

{% block container %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="alert alert-primary" role="alert">
        Images {{ total_images }}
      </div>
    </div>
    <div class="col">
      <div class="alert alert-info" role="alert">
        Labels {{ total_labels }}
      </div>
    </div>
    <div class="col">
      <div class="alert alert-success" role="alert">
        Images reviewed {{ total_review_images }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Classification</h3>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Label</th>
            <th>Total</th>
            <th>Reviwed</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          {% for main_label in class_labels %}
          {% if main_label.label is not None %}
          <tr>
            <td>{{ main_label.label }}</td>
            <td>{{ main_label.total }}</td>
            <td> - </td>
            <td><button type="button" class="btn btn-light btn-sm" onclick="downloadData('{{main_label.label}}','class')"><i class="fas fa-download"></i></button></td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col">
      <h3>Detection</h3>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Label</th>
            <th>Total</th>
            <th>Reviwed</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          {% for label in detection_labels %}
          {% if label.0 is not None %}
          <tr>
            <td>{{ label.0 }}</td>
            <td>{{ label.1 }}</td>
            <td> - </td>
            <td><button type="button" class="btn btn-light btn-sm" onclick="downloadData('{{label.0}}','detect')"><i class="fas fa-download"></i></button></td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col">
      <h3>Segmentation</h3>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Label</th>
            <th>Total</th>
            <th>Reviwed</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for label in labels %}
          {% if label.label is not None %}
          <tr>
            <td>{{ label.label }}</td>
            <td>{{ label.total }}</td>
            <td><i class="fas fa-download"></i></td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
function downloadData(label, type) {
  var data = {label:label, type:type};
  jQuery.post("download_data/", data);
}
</script>
{% endblock %}